body {
    text-align: center;
    background-image: url("birthday.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

p {
    background-color: white;
    font-size: 3rem;
}

h1 {
    font-size: 4rem;
}

button {
    font-size: 2rem;
    margin-left: 2rem;
}

input {
    text-align: center;
    block-size: 3rem;
}